<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>项目管理平台</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">项目管理平台</div>
        <!-- 头部区域（默认水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">项目管理</a></li>
            <li class="layui-nav-item"><a href="">接口管理管理</a></li>
            <!--layui-this: 当前选中菜单项-->
            <li class="layui-nav-item layui-this">
                <a href="">用例管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">用例分析</a></dd>
                    <dd class="layui-this"><a href="">用例统计</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq"; class="layui-nav-img"/>贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
                <!--小圆点,里面不能加文字-->
                <span class="layui-badge-dot"></span>
            </li>
            <li class="layui-nav-item">
                <a href="">退了</a>
                <!--小圆点,里面不能加文字-->
                <span class="layui-badge-dot layui-bg-orange"></span>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（layui-nav-tree: 垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">接口管理</a></dd>
                        <dd><a href="javascript:;">项目管理</a></dd>
                        <dd><a href="javascript:;">用例管理</a></dd>
                        <dd><a href="javascript:;">场景管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">任务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">任务管理</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">日志管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">访问日志</a></dd>
                        <dd><a href="javascript:;">异常日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">工具集</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!--
            layui-tab-brief:简洁风格
            layui-tab-card:卡片风格
            lay-allowClose:允许tab关闭
            lay-filter:layui寻找元素的属性，类似jQuery中的id
        -->
        <div class="layui-tab" lay-filter="user_tab" lay-allowClose="true">
            <ul id="tab_title" class="layui-tab-title">
                <!--layui-this:代表选中-->
                <li class="layui-this user_tab_title" lay-id="1">表格</li>
                <li class="user_tab_title" lay-id="2">面板</li>
                <li class="user_tab_title" lay-id="3">表单</li>
                <li class="user_tab_title" lay-id="4">弹出层</li>
            </ul>
            <!--layui-tab-content:代表tab的内容-->
            <div class="layui-tab-content">
                <!--
                    layui-tab-item:代表tab具体的内容
                    layui-show:启用显示
                -->
                <div class="layui-tab-item layui-show">
                    <!-- 搜索条件开始 -->
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>查询条件</legend>
                    </fieldset>
                    <form action="/query" method="post" class="layui-form" id="user_table_form" lay-filter="user_table_form">

                        <input type="hidden" name="page" id="page" value=""/>
                        <input type="hidden" name="limit" id="limit" value=""/>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" type="text" id="name" name="name" placeholder="请输入姓名"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">地址</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" type="text" id="address" name="address" placeholder="请输入地址"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-inline">
                                    <select name="sex" lay-filter="sex" id="sex">
                                        <option value=""></option>
                                        <option value="0">保密</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center;">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" type="submit" lay-filter="user_table_query">查询</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                    <!-- 搜索条件结束 -->
                    <!-- 数据表格开始 -->
                    <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
                    <!--自定义toolBar-->
                    <div style="display: none;" id="user_tool_bar">
                        <!--按钮组-->
                        <div class="layui-btn-group">
                            <!--可以加layui-btn-sm属性控制按钮的大小-->
                            <button type="button" class="layui-btn" lay-event="create">创建</button>
                            <button type="button" class="layui-btn" lay-event="batch_delete">批量删除</button>
                            <button type="button" class="layui-btn" lay-event="reload">刷新</button>
                        </div>
                    </div>
                    <!--自定义lineToolBar-->
                    <div style="display: none;" id="user_line_tool_bar">
                        <!--可以加layui-btn-xs属性控制按钮的大小-->
                        <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>
                    </div>
                    <!-- 数据表格结束 -->
                </div>
                <div class="layui-tab-item">
                    <!--
                        layui-col-space30:代表卡片与卡片之间有间距，0-30
                    -->
                    <!--卡片面板-->
                    <fieldset class="layui-elem-field layui-field-title">卡片面板</fieldset>
                    <div class="layui-row layui-col-space30">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">卡片面板</div>
                                <div class="layui-card-body">
                                    卡片式面板面板通常用于非白色背景色的主体内<br>
                                    从而映衬出边框投影
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">卡片面板</div>
                                <div class="layui-card-body">
                                    就好杰客户到付款话善良的格哥是的噶啥<br>
                                    顺利的话公司客户的
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--折叠面板-->
                    <fieldset class="layui-elem-field layui-field-title">常规折叠面板</fieldset>
                    <!--lay-accordion:添加该属性后变成手风琴面板-->
                    <div class="layui-collapse" lay-filter="user_collapse">
                        <!--layui-colla-item:代表折叠项-->
                        <div class="layui-colla-item">
                            <!--layui-colla-title:折叠项的显示标题-->
                            <h2 class="layui-colla-title">杜甫</h2>
                            <!--layui-colla-content:折叠项的显示内容-->
                            <div class="layui-colla-content">大风刮过</div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">李清照</h2>
                            <div class="layui-colla-content">他还风格的</div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">鲁迅</h2>
                            <div class="layui-colla-content layui-show">而而夜晚</div>
                        </div>
                    </div>
                </div>
                <!--表单区域-->
                <div class="layui-tab-item">
                    <!--表单区域-->
                    <form class="layui-form" lay-filter="user_form" action="">
                        <!--单行输入框-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <!--lay-verify:做验证的-->
                                <input type="text" name="name" lay-verify="required|name_validate" placeholder="请输入用户名" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="password" lay-verify="required|password_validate" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <!--多行输入框-->
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">验证手机</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="telphone" lay-verify="required|phone" placeholder="请输入手机号" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">验证邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">验证身份证</label>
                                <div class="layui-input-inline">
                                    <!--lay-verify:identity,身份证校验-->
                                    <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年龄</label>
                            <div class="layui-input-inline">
                                <input type="text" name="age" placeholder="请输入年龄" autocomplete="off" class="layui-input"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">请输入数字</div>
                        </div>
                        <!--单行下拉选-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">兴趣爱好</label>
                            <div class="layui-input-block">
                                <!--lay-search:联想过滤的功能-->
                                <select id="interest" name="interest" lay-filter="interest" lay-search="">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1" selected="">阅读</option>
                                    <option value="2">游戏</option>
                                </select>
                            </div>
                        </div>
                        <!--多行下拉选-->
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">国家</label>
                                <div class="layui-input-inline">
                                    <select name="country" lay-filter="country">
                                        <option value=""></option>
                                        <option value="0">美国</option>
                                        <option value="1" selected="">中国</option>
                                        <option value="2">越南</option>
                                        <option value="3">菲律宾</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-inline">
                                    <select name="sex" lay-filter="sex">
                                        <option value=""></option>
                                        <option value="0">保密</option>
                                        <option value="1" selected="">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--单选框-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">单选框</label>
                            <div class="layui-input-block">
                                <input type="radio" name="flag" lay-filter="flag" value="1" title="是" checked="">
                                <input type="radio" name="flag" lay-filter="flag" value="0" title="否">
                            </div>
                        </div>
                        <!--复选框-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">复选框</label>
                            <div class="layui-input-block">
                                <input type="checkbox" lay-filter="like" name="like[write]" value="写作" title="写作">
                                <input type="checkbox" lay-filter="like" name="like[read]" value="阅读" title="阅读" checked="">
                                <input type="checkbox" lay-filter="like" name="like[game]" value="游戏" title="游戏">
                            </div>
                        </div>
                        <!--原始复选框-->
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">原始复选框</label>
                            <div class="layui-input-block">
                                <!--lay-skin:switch(开关风格),primary(原始风格)-->
                                <input type="checkbox" name="write" lay-skin="primary" title="写作" checked="">
                                <input type="checkbox" name="read" lay-skin="primary" title="阅读">
                                <input type="checkbox" name="game" lay-skin="primary" title="游戏" disabled="">
                            </div>
                        </div>
                        <!--开关-默认关-->
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">开关-默认关</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-filter="switch_close" lay-text="ON|OFF">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">开关-默认开</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="open" lay-skin="switch" lay-filter="switch_open" lay-text="ON|OFF" checked="">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">开始时间</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" readonly type="text" id="startTime" name="startTime"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">结束时间</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" readonly type="text" id="endTime" name="endTime"/>
                                </div>
                            </div>
                        </div>
                        <!--普通文本域-->
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">普通文本域</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <!--提交-->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="user_table_submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                <button type="button" class="layui-btn layui-btn-warm" id="render_select">动态添加下拉</button>
                                <button type="button" class="layui-btn layui-btn-warm" id="form_init">表单初始化</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--弹出层-->
                <div class="layui-tab-item">
                    <button class="layui-btn" id="btn_alert">alert</button>
                    <button class="layui-btn layui-btn-danger" id="btn_confirm">confirm</button>
                    <button class="layui-btn layui-btn-warm" id="btn_prompt">prompt</button>
                    <button class="layui-btn layui-btn-normal" id="btn_photo">photo</button>
                    <button class="layui-btn layui-btn-normal" id="open_type_1">open.type.1</button>
                    <button class="layui-btn layui-btn-normal" id="open_type_2">open.type.2</button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>

<!-- 弹出层开始 -->
<div id="createPopups" style="display: none;">
    <form class="layui-form" action="" lay-filter="create_popups_form" id="create_popups_form">
        <div class="layui-form-item">
            <label class="layui-form-label layui-icon layui-icon-username">姓名</label>
            <div class="layui-input-block">
                <input class="layui-input" lay-verify="required" type="text" name="name" placeholder="请输入姓名"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-icon layui-icon-face-smile-fine">年龄</label>
            <div class="layui-input-block">
                <input class="layui-input" lay-verify="required" type="text" name="age" placeholder="请输入年龄"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性別</label>
            <div class="layui-input-block">
                <select name="sex" lay-filter="sex">
                    <option value=""></option>
                    <option value="0">保密</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;margin-top: 50px;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="create_table_submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<div id="editPopups" style="display: none;">
    <form class="layui-form" action="" lay-filter="edit_popups_form" id="edit_popups_form">

        <input type="hidden" name="id" value=""/>

        <div class="layui-form-item">
            <label class="layui-form-label layui-icon layui-icon-username">姓名</label>
            <div class="layui-input-block">
                <input class="layui-input" lay-verify="required" type="text" name="name" placeholder="请输入姓名"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-icon layui-icon-face-smile-fine">年龄</label>
            <div class="layui-input-block">
                <input class="layui-input" lay-verify="required" type="text" name="age" placeholder="请输入年龄"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性別</label>
            <div class="layui-input-block">
                <select name="sex" lay-filter="sex">
                    <option value=""></option>
                    <option value="0">保密</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;margin-top: 50px;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="edit_table_submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 弹出层结束 -->

<script th:src="@{/layui/layui.js}"></script>
<script>
    //引入layui模块
    layui.use(['laydate','layedit', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider','jquery','form'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块
            , $ = layui.jquery
            , form = layui.form
            , layedit = layui.layedit
        ;

        //监听折叠面板
        element.on('collapse(user_collapse)', function (data) {
            console.log(data.show); //得到当前面板的展开状态，true或者false
            console.log(data.title); //得到当前点击面板的标题区域DOM对象
            console.log(data.content); //得到当前点击面板的内容区域DOM对象
        });

        //执行一个table实例
        var tableIns = table.render({
            elem: '#user_table'//渲染的目标对象
            , id: 'user_table'//设定容器唯一id,从layui 2.2.0开始，从<table id="test"></table>中的id参数中获取。
            , height: 420
            , url: '/query' //数据接口
            , method: "post"//默认get
            //, contentType: "application/json"
            , title: '用户表'//数据导出来的标题
            , page: true //开启分页
            , toolbar: '#user_tool_bar' //开启工具栏，默认default
            , defaultToolbar: ['filter', 'print', 'exports']//过滤，打印，导出
            , height: "full"
            , cellMinWidth: 100  //设置列默认的最小宽度
            , limit: 10
            , done: function (res, curr, count) {}//数据渲染完的回调,可以借此做一些其它的操作
            , totalRow: true //开启合计行
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'ID', sort: true, fixed: 'left', align: "center", totalRowText: '合计：'},
                    {field: 'name', title: '用户名', edit: true, align: "center"},
                    {field: 'age', title: '年龄', sort: true, align: "center", totalRow: true},
                    {
                        field: 'sex', title: '性别', align: "center",templet: function (data) {
                            //data:指的是该行的数据
                            if (data.sex == 1) {
                                return "<span>男</span>";
                            } else if (data.sex == 2) {
                                return "<span>女</span>";
                            } else {
                                return "<span>保密</span>";
                            }
                        }
                    },
                    {field: 'address', title: '地址', align: "center"},
                    {field: 'interest', title: '兴趣', align: "center"},
                    {field: 'content', title: '内容'},
                    {title: '操作', fixed: 'right', toolbar: "#user_line_tool_bar", align: "center"}
                ]
            ]
        });

        //监听table头工具栏事件
        table.on('toolbar(user_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'create':
                    userCreatePopups();
                    break;
                case 'batch_delete':
                    if (data.length === 0) {
                        layer.msg('请最少选择一行');
                    } else {
                        layer.confirm('真的删除行么', function(index){
                            batchDeleteUser(data,index);
                        });
                    }
                    break;
                case "reload":
                    //tableIns.reload();
                    //注意，user_table取得是table容器的索引，即table实例中id
                    table.reload('user_table', {
                        url: '/query'
                        ,where: {} //设定异步数据接口的额外参数
                        //,height: 300
                    });
                    break;
            }
        });

        var userPopupsIndex;
        function userCreatePopups(){
            userPopupsIndex = layer.open({
                type: 1,
                title: '添加数据',
                shadeClose: false,
                shade: 0.01,
                maxmin: true,
                area: '500px',
                fix: false,
                content: $("#createPopups"),
                success:function(layero,index){
                    //清空表单数据
                    $("#create_popups_form")[0].reset();
                }
            });
        }

        //保存数据
        form.on('submit(create_table_submit)',function () {
            //序列化表单数据
            var params = $("#create_popups_form").serializeArray();
            var array = {};
            $.map(params,function (item,index) {
                array[item['name']] = item['value'];
            });
            var data = JSON.stringify(array);
            $.ajax({
                url: "/create",
                type: "POST",
                data: data,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                traditional: true,
                success: function (data) {
                    //关闭弹出层
                    layer.close(userPopupsIndex);
                    //刷新表单数据
                    table.reload('user_table', {
                        url: '/query',
                        where: {}
                    });
                },
                error: function (data) {}
            });
            return false;
        });

        function batchDeleteUser(data,index){
            var idArr = [];
            debugger;
            $.each(data,function (idx,item) {
                idArr.push(item.id);
            });
            var obj = {"ids":idArr};
            $.ajax({
                url: "/batch/delete",
                data: obj,
                type: "POST",
                dataType: "json",
                //contentType: "application/json;charset=utf-8",
                traditional: true,
                success: function (res) {
                    //关闭弹出层
                    layer.close(index);
                    //刷新表单数据
                    table.reload('user_table', {
                        url: '/query',
                        where: {}
                    });
                },
                error:function (res) {}
            });
        }


        //监听行工具中的事件，即行中的按钮
        table.on('tool(user_table)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'edit'){ //编辑
                editUser(data);//传数据
            } else if(layEvent === 'delete'){ //删除
                layer.confirm('真的删除行么', function(index){
                    deleteUser(data,index);//传数据
                });
            }
        });

        function editUser(data){
            userPopupsIndex = layer.open({
                type: 1,
                title: '添加数据',
                shadeClose: false,
                shade: 0.01,
                maxmin: true,
                area: '500px',
                fix: false,
                content: $("#editPopups"),
                success:function (layero, index) {
                    //给表单赋值
                    form.val("edit_popups_form",data);
                }
            });
        }

        //更新数据
        form.on('submit(edit_table_submit)',function () {
            //序列化表单数据
            var params = $("#edit_popups_form").serializeArray();
            var array = {};
            $.map(params,function (item,index) {
                array[item['name']] = item['value'];
            });
            var data = JSON.stringify(array);
            $.ajax({
                url: "/edit",
                type: "POST",
                data: data,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                traditional: true,
                success: function (data) {
                    //关闭弹出层
                    layer.close(userPopupsIndex);
                    //刷新表单数据
                    table.reload('user_table', {
                        url: '/query',
                        where: {}
                    });
                },
                error: function (data) {}
            });
            //阻止表单跳转，如果需要表单跳转，去掉这段即可。
            return false;
        });

        //删除数据
        function deleteUser(data,index){
            $.ajax({
                url: "/del/" + data.id,
                type: "PUT",
                data: {},
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                traditional: true,
                success: function (data) {
                    //关闭弹出层
                    layer.close(index);
                    //刷新表单数据
                    table.reload('user_table', {
                        url: '/query',
                        where: {}
                    });
                },
                error: function (data) {}
            });
        }

        //渲染，向select中添加一个元素
        $("#render_select").on("click",function () {
            $("#interest").append("<option value='3'>旅行</option>");
            //需要渲染才可生效
            form.render('select'); //刷新所有select选择框渲染
        });

        //表单初始化
        $("#form_init").on("click",function () {
            //给表单赋值
            form.val("user_form",{
                name:"123",
                email:"1214235@qq.com",
                flag:"0",
                like:['like[game]']
            });
        });

        //表单自定义校验
        form.verify({
            name_validate: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '用户名不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '用户名不能全为数字';
                }
            }

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            ,password_validate: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
        });

        $("#btn_alert").on("click",function () {
            layer.alert('加了个图标', {icon: 1}); //这时如果你也还想执行yes回调，可以放在第三个参数中。
            /*layer.alert('有了回调',{icon: 1}, function(index){
                //弹出层只能通过索引关闭
                layer.close(index);
            });*/
        });

        $("#btn_confirm").on("click",function () {
            //可以加第二个参数:图标,也可以不加
            layer.confirm('btn confirm?',{icon: 3, title:'提示'}, function(index){
                layer.close(index);
            });
        });

        $("#btn_prompt").on("click",function () {
            layer.prompt(function(value, index, elem){
                alert(value); //得到value
                layer.close(index);
            });
        });
        //这里有问题，渲染不出来
        $("#btn_photo").on("click",function () {
            $.get('/json/image.json', function(json){
                layer.photos({
                    photos: json
                    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                });
            });
        });

        //页面层
        $("#open_type_1").on("click",function () {
            layer.open({
                type: 1,//默认type:0,类似alert,1:页面层
                content: $("#createPopups") //不仅可以传入普通的html内容，还可以指定DOM
                ,area:"450px"
                ,btn:["确定","取消"]
            });
        });

        //iframe层
        $("#open_type_2").on("click",function () {
            layer.open({
                type: 2,//默认type:0,类似alert,2:iframe层
                //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                content: 'http://sentsin.com'
                ,area:"450px"
                ,btn:["确定","取消"]
            });
        });

        //绑定时间选择器
        laydate.render({
            elem:"#startTime"
        });
        laydate.render({
            elem:"#endTime"
        });

        form.on('submit(user_table_query)',function () {
            table.reload('user_table', {
                url: '/query',
                where: {
                    name: $("#name").val()
                    ,address: $("#address").val()
                    ,sex: $("#sex").val()
                }
            });
            //阻止表单跳转，如果需要表单跳转，去掉这段即可。
            return false;
        });
    });
</script>
</body>
</html>