<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>项目管理平台</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">项目管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <!--<img src="http://t.cn/RCzsdCq"; class="layui-nav-img"/>-->贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
                <!--小圆点,里面不能加文字-->
                <span class="layui-badge-dot"></span>
            </li>
            <li class="layui-nav-item">
                <a href="">退了</a>
                <!--小圆点,里面不能加文字-->
                <span class="layui-badge-dot layui-bg-orange"></span>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（layui-nav-tree: 垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="">
                <li class="layui-nav-item layui-nav-itemed" th:each="m : ${menus}">
                    <a class="" th:href="${m.url}" th:text="${m.name}"></a>
                    <dl class="layui-nav-child" th:each="c : ${m.children}">
                        <dd><a th:href="${c.url}" th:text="${c.name}"></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        欢迎使用后台系统
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
</body>
</html>