<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.layer.mapper.UserTreeMapper">
    <select id="queryTree" resultType="com.spring.layer.entity.UserTree">
        select * from user_tree
    </select>
    <insert id="addTree" parameterType="com.spring.layer.entity.UserTree">
        insert into user_tree (pid,url,title,sort)
        values (#{pid},#{url},#{title},#{sort});
    </insert>
    <delete id="delTree" parameterType="int">
        delete from user_tree where id = #{id}
    </delete>
</mapper>